/* Links */

.link {
    display: block;
    width: 80%;
    max-width: 500px;
    height: 280px;
    margin: 0 auto 40px auto;
    position: relative;
}

.link:active {
    border: 2px solid black;
}

.link img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover
}

h3 {
    margin-top: 170px;
    color: white;
}

.link h5 {
    margin: 5px;
    color: white;
}

@media only screen and (min-width: 760px) {
    .link {
        height: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .link {
        display: inline-block;
        margin: 0 20px 40px 20px;
    }
}