/* Post */

.button {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    color: black;
    margin: 30px 0 20px 0;
}

.button:active {
    color: darkgray;
    border: 2px solid darkgray;
}

.post {
    border: 2px solid black;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.post h5 {
    text-align: left;
    margin: 20px 25px 5px 25px;
}

.post h6 {
    text-align: left;
    margin: 0 25px;
}

.post p {
    width: auto;
    margin: 20px 25px;
}

@media only screen and (min-width: 768px) {
    .post h5 {
        margin: 40px 30px 15px 30px;
    }

    .post h6 {
        margin: 0 30px;
    }

    .post p {
        margin: 20px 30px 40px 30px;
    }
}